body {
  padding: 0;
  margin: 0;
  font-family: UnifrakturCook, PressStart2P, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: #282c53;
  
  background: url("/static/background.png");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  }

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* glass-morphism */
.glass {
  background: rgba( 255, 255, 255, 0.3 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 5px );
  -webkit-backdrop-filter: blur( 5px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.glass:hover {
  background: hsla(0, 0%, 100%, 0.7);
  border: 1px solid #fff;
}

:root{
  --text-purple:rgb(76, 30, 102);
  --text-purple-dark:rgb(22, 21, 71);
  --text-black:rgb(38, 53, 87);
  --text-white-100:rgb(113, 135, 180);
}